div {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.logo-img{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
}

.center-span{
    margin: 0 auto
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 25px 10px;
    margin-top: 0px;
}

fieldset label{
    font-size: 90%;
}

form input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 25px;
}

span.forgotpwd {
    float: right;
}

form input[type="submit"]{
    background-color: #f7c548;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 90%;
}

h8 {
    color: blue;
}

.new {
    margin-top: 10px;
    border-top: 1px solid gray;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    padding: 0px;
    color: gray;
}

span.newacct {
    margin-left: 38%;
    float: left;
    color: gray;
    width: 25%;
    text-align: center;
    padding: 0px;
    background-color: white;
}

.create {
    display: block;
    width: 400px;
    text-align: center;
    line-height: 30px;
    margin-left: 17%;
    margin-bottom: 30px;
    font-size: 90%;
}

.button {
    background-color: rgb(194, 194, 194);
    border: 1 px solid gray;
    border-radius: 2px;
    color: black;
    padding: 0px;
    text-align: center;
    font-size: 90%;
}

.button1 {
    width: 100%;
}

.separator {
    width: 100%;
    width: 100vw;
    margin-bottom: 0px;
    margin-top: 10px;
}

hr.new1 {
    border-top: 1px solid rgb(184, 184, 184);
}

.legal {
    font-size: 75%;
    margin-top: 20px;
    width: 200px;
    margin-left: 45%;
    color: blue;

}
.copy {
    font-size: 60%;
    margin-top: 0px;
    width: 200px;
    margin-left: 45%;

}